        body {
            line-height: 28px;
        }

        h1 {
            text-align: center;
            line-height: 28px;
            font-weight: 400;
        }

        .gray {
            color: #888888;
            font-size: 12px;
            text-align: center;
        }

        .img {
            text-align: center;
        }

        a {
            text-decoration: none;
        }

        .search1 {
            color: #666;
            width: 170x;
        }

        .search2 {
            font-weight: 700;
        }

        p {
            text-indent: 2em;
        }

        .footer {
            font-size: 12px;
            font-weight: 100;
        }